<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minhas Apostas</title>
    <style>
        
    </style>
</head>
<body>
    <div class="container">
        <h1>Bem-vindo(a) às Apostas, {{ nome_usuario }}!</h1>
        <div class="user-info">
            <p><strong>Nome:</strong> {{ nome_usuario }}</p>
            <p><strong>Telefone:</strong> {{ telefone_usuario }}</p>
        </div>
        <p>Aqui você pode gerenciar suas apostas e visualizar os resultados.</p>
        <p>Explore as opções e divirta-se!</p>

        <a href="#" id="logout-button" class="logout-button">Sair</a>
    </div>

    <script>
        
    </script>
</body>
</html>